<div class="container">
   <div class="jumbotron">
      <h1 class = "text-info ">Welcome to Blog Application!</h1>
      <p>This is a simple blog application.</p>
      <p><a class="btn btn-primary btn-lg" href="https://github.com/pruzoth/Blog-Application" role="button">
         Learn more</a>
      </p>
   </div>
</div>

